h1
  font-size 2em
  font-weight bold
  text-align center
  padding-top 1em

h2
  font-size  1.3em
  font-weight bold
  padding  0 0 0.2em 0
  margin  0 0 0.5em 0
  border-bottom 3px solid #888

ul, li
  margin 0
  list-style none
  list-style-image none
  line-height 1.5em
  margin-bottom 1em

.columns
  display flex
  align-items stretch
  justify-content space-around

small
  font-size 85%

pre
  white-space pre
  white-space pre-wrap
  word-wrap break-word
  padding 0.5em
  border 1px solid #888
  font-size 0.8em
  background-color #ff9

.compact
  pre
    font-size 0.6em
    margin 0.5em
    padding 0.2em 0.5em

blockquote
  margin 0
  font-size 1.25em
  font-style italic

blockquote p
  margin 1em 0

blockquote cite
  font-size 0.8em
  font-style normal
  color #bbb

.uml
  background-color #0ff
  fill #0ff !important
  border solid 2px grey
  h4
    text-align center
    font-size 0.9em
    padding 0.2em
    margin 0
    border-bottom solid 2px grey
  ul
    margin 0
    padding 0.2em
  li
    font-size 0.8em
    margin 0
    min-height 0.4em

