@page {
    size: 1280px 721px;
    /*size: 16cm 9cm landscape;*/
    margin: 0;
    border: 0;
}

@media print {
    .bespoke-slide {
        opacity: 1;
        position: relative;
        top: inherit;
        bottom: inherit;
        left: inherit;
        right: inherit;
        margin: inherit;
        zoom: 1 !important;
    }
    .bespoke-parent {
        position: relative;
        top: inherit;
        bottom: inherit;
        left: inherit;
        right: inherit;
        margin: inherit;
    }
}