section.title
  background-color $background-color-title
  color $color-title

section.dark
  background-color $background-color-dark
  color $color-dark
  padding 1em
  font-size 1.3em
  align-items stretch
  justify-content space-around
  cite
    font-size 0.8em
    margin-top 0em
    margin-bottom 0.5em
    small
      font-size 0.8em