doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    //- meta(name='viewport', content='width=device-width, initial-scale=1')
    //- meta(name='mobile-web-app-capable', content='yes')
    title Bespoke.js Jigsaw
    link(rel='stylesheet', href='build/build.css')

  body
    article.deck
      section.title
        h1 Jigsaw est prêt à tuer le classpath

      section.dark
        div.columns
          blockquote
            p Classpath is dead!
            cite 
              p Mark Reinhold <br><small>JavaOne 2009</small>
          img(src="images/mreinhold.jpg" width="400px" height="500px")

      section.dark
        p.bullet(style="padding-left: 0px") Classpath
          span.bullet(style="padding-left: 500px") Classloader
        p.bullet(style="padding-left: 500px") Mort ?
        p.bullet(style="padding-left: 200px") Succession
          span.bullet(style="padding-left: 200px") Jigsaw

      section
        h2 Alexis Hassler
        div.columns      
          ul.bullet
            li Développeur
            li Formateur
            li Indépendant<br>
              img(src="images/sewatech.png" width="200" style="margin-left:1em")
          ul.bullet
            li Fondateur <br>
              img(src="images/lyonjug.png" width="200" style="margin-left:1em")
            li Préparateur de &#9749;<br>
              img(src="images/mixit.png" width="200" style="margin-left:1em")

      section.title
        h1 Classpath

      section
        h2 Chercher les classes
        div.bullet(style="margin-bottom: 2em;")
          img(src="images/javacup.png" width="250" style="position: absolute; margin-left: 15em; z-index: -1")
          pre String hello = "Salut à vous tous les zazous";
        div.bullet
          img(src="images/classpath.svg" width="300" style="position: absolute; margin-left: 10em; z-index: -1")
          pre Hello var = new Hello();

      section
        h2 -classpath
        div(style="margin: 2em 0; font-size: 1.2em;")
          pre java -cp hello-lib.jar HelloWorld

      section
        h2 Erreurs
        div
          ul
            li java.lang.NoClassDefFoundError
            li(style="padding-left: 250px; margin-top: 2em;") java.lang.ClassNotFoundException

      section.title
        h1 ClassLoader

      section
        h2 &nbsp;
        div.columns
          div.uml
            h4 java.lang.ClassLoader
            ul
              li loadClass(String name) : Class<?>
              li  
              li getResource(String name) : URL
              li getResourceAsStream(String name) : InputStream
              li 
              li getParent() : Classloader

      section
        h2 Classloader
        div.bullet(style="margin-bottom: 2em;")
          img(src="images/classpath.svg" width="300" style="position: absolute; margin: 0.5em 0 0 15em; z-index: -1")
          pre Hello.class.getClassLoader()
        div.bullet
          pre(style="background: #fa2 !important; width: fit-content; ") sun.misc.Launcher$AppClassLoader    

      section
        h2 Classloader
        div.bullet(style="margin-bottom: 2em;")
          pre.
            Hello.class.getClassLoader()
                       .getClass().getClassLoader()
        div.bullet
          pre(style="background: #fa2 !important; width: fit-content; ") null    

      section
        h2 Bootstrap Classloader
        div.columns.bullet(style="align-items: baseline;")
          img(src="images/oeuf.png" style="filter: brightness(85%);height: 5em")
          img(src="images/poule.png" style="filter: brightness(85%);height: 8em")
        div.columns.bullet(style="margin-top: 1em")
            div.uml
              ul
                li BootstrapClassLoader

      section
        div.bullet.step-0
        div.columns(style="position: absolute; z-index: 1; margin-top: 100px")
          object#o1(data="images/jvm-classloaders.svg" width="1200" height="500" type="image/svg+xml")
        h2 Délégation (object)

      section
        div.bullet.step-0
        div.columns(style="position: absolute; z-index: 1; margin-top: 99px").
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="900" height="450" viewBox="0 0 899.99999 449.99998" class="active">
            <defs>
                <marker orient="auto" id="a" overflow="visible">
                    <path d="M-10.69-4.437L1.328-.017-10.69 4.401c1.92-2.61 1.909-6.18 0-8.84z" fill-rule="evenodd" stroke="#000" stroke-width=".688" stroke-linejoin="round"/>
                </marker>
            </defs>
            <g id="classpath" class="bullet step-11 substep" data-order="2" transform="translate(-3.876 -153.79)">
                <ellipse cx="160.987" cy="284.077" rx="125.67" ry="123.026" fill="none" stroke="#000" stroke-width=".92"/>
                <path class="uml" fill="#fff" stroke="#000" stroke-width=".982" d="M14.367 267.208h288.409v49.598H14.367z"/>
                <text style="line-height:100%;-inkscape-font-specification:'Arial, Normal';text-align:center" x="158.591" y="300.228" font-weight="400" font-size="28" font-family="Arial" letter-spacing="0" word-spacing="0" text-anchor="middle">
                    <tspan x="158.591" y="300.228">System ClassLoader</tspan>
                </text>
            </g>
            <g id="bootclasspath" class="bullet step-10 substep" data-order="3" transform="translate(-3.876 -153.79)">
                <path class="uml" fill="#fff" stroke="#000" stroke-width=".994" d="M598.659 487.855h295.54v49.586h-295.54z"/>
                <text style="line-height:100%;-inkscape-font-specification:'Arial, Normal';text-align:center" x="746.02" y="520.869" font-weight="400" font-size="28" font-family="Arial" letter-spacing="0" word-spacing="0" text-anchor="middle">
                    <tspan x="746.02" y="520.869">Bootstap ClassLoader</tspan>
                </text>
            </g>
            <g class="bullet step-12 substep" id="parent-first" data-order="1">
                <path d="M300.6 291.837c275.076 1.45 430.666 50.574 438.369 191.87" fill="none" stroke="#000" stroke-width="2.215" marker-end="url(#a)" transform="translate(-3.876 -153.79)"/>
                <text style="line-height:100%;-inkscape-font-specification:'Arial, Normal';text-align:center" x="464.102" y="342.63" font-weight="400" font-size="28" font-family="Arial" letter-spacing="0" word-spacing="0" text-anchor="middle" transform="translate(-3.876 -153.79)">
                    <tspan x="464.102" y="342.63">Parent</tspan><tspan x="464.102" y="370.63">First</tspan>
                </text>
            </g>
          </svg>
        h2 Délégation : direct SVG with canvas

      section.classpath
        div.bullet.step-0
        div.columns.substep(style="position: absolute; z-index: 1; margin-top: 100px")
          object#o2(data="images/system-classloader.svg" width="1200" height="500" type="image/svg+xml")
        h2 Délégation (object)
        div.compact.substep(style="margin: 0.5em 0 0 7em; z-index: 20;")
          pre.code java -cp hello-lib.jar HelloWorld
        style.
          section.classpath .bespoke-bullet-inactive { visibility: visible }
          section.classpath #bootclasspath, section.classpath #parent-first { visibility: hidden }

      section.bootclasspath
        div.bullet.step-0
        div.columns(style="position: absolute; z-index: 1; margin-top: 100px")
          img(src="images/system-classloader.svg" width="1200" height="500")
        h2 Délégation 2 (img)
        div.compact(style="margin: 4em 7em 0 1em;")
          pre.code.substep.inactive java -Xbootclasspath/p:hello-lib.jar ...
          pre.code.substep.inactive java -Xbootclasspath:hello-rt.jar ...
          pre.code.substep.inactive java -Xbootclasspath/a:hello-lib.jar ...
        style.
          section.bootclasspath .bespoke-bullet-inactive { visibility: visible }
          section.bootclasspath #classpath, section.bootclasspath #parent-first { visibility: hidden }

      section
        h2 ...

    script(src='build/build.js')
